$first-color:#200093;
$second-color:#011ad8;;
$third-color:#001b75;
$fourth-color:#ffff;
$footer-color:#848484;
$fifth-color:#000000;

$menu-button-width:25%;
$menu-button-height:100px;
$menu-button-top:25px;

