$first-color:#200093;
$second-color:#011ad8;;
$third-color:#001b75;
$fourth-color:#001EC7;
$footer-color:#848484;
$fifth-color:#0248df;

$menu-button-width:20%;
$menu-button-height:100px;
$menu-button-top:25px;

