@import "./variables";
@import "./mixins";
@import "./extends";

*{
    background: $first-color
}

section{
    color: #ffff;
}

#mheader{
    background-color: $third-color;
    @include position(100%,20%,0%,0%);
    h1{
        background-color: $third-color;
        position: absolute;
        left: 25%;
        top: 0%;
        width: 50%;
        font-size: xxx-large;
        text-align: center;
        
    }
}

#trailer{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 20%;
}


#loading{
    position: absolute;
    left: 0%;
    top: 160%;
    width: 100%;
    height: 30%;
    background-color: $third-color;
    #loadingbar{
        background-color: gray;
        color: #ffff;
        position: absolute;
        width: 70%;
        left: 15%;
        top: 5%;
        height: 30%;
    }
    #loadingtext{
        background-color: #001b75;
        text-align: center;
        font-size: x-large;
        position: absolute;
        width: 70%;
        left: 15%;
        top: 30%;
        height: 40%;
    }
}

#news{
    @include position(90%,25%,5%,210%);
    border-radius: 10px;
    background-color: $fourth-color;
    h3{
        position: relative;
        width: 30%;
        left: 45%;
        font-size: xx-large;
        background-color: $fourth-color;
        color: $fifth-color;
    }
    i{
        color: $fifth-color;
        background-color: $fourth-color;
    }
}

#daybook{
    @include position(90%,25%,5%,255%);
    border-radius: 10px;
    background-color: $fourth-color;
    color: $fifth-color;
    h3{
        background-color: $fourth-color;
    }
    ul{
        background-color: $fourth-color;
    }
    li{
        background-color: $fourth-color;
    }
    div{
        background-color: $fourth-color;
        border-radius: 10px;
    }
}

footer{
    color: #ffff;
    background-color: rgb(90, 90, 90);
    @include position(100%,10%,0%,320%);
    h3{
        @include position(50%,10%,25%,0%);
        background-color: rgb(90, 90, 90);
        font-size: xx-large;
        text-align: center;
    }
}

h2{
    position: absolute;
    left: 25%;
    top: 245%;
    width: 50%;
    color: #ffff;
    font-size: xx-large;
    text-align: center;
}

@media screen and (max-width: 769px){
    #mheader{
        h1{
            left: 0%;
            width: 100%;
            font-size: large;
        }
    }
    #trailer{
        top: 35px;
    }
    #loading{
        top: 150%;
        #loadingtext{
            font-size: small;
        }
    }
    #news{
        background-color: white;
        border-radius: 10px;
        height: 100%;
        h3{
            font-size: small;
        }
        i{
            font-size: smaller;
        }
    }
    h2{
        font-size: small;
        top:335%;
    }
    #daybook{
        top:355%;
        h3{
            font-size: smaller;
        }
        li{
            font-size: x-small;
        }
    }
    footer{
        top:550%;
        height: 30%;
        h3{
            font-size: small;
        }
    }

}